@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

:root {
  --font-stack: "Press Start 2P", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #333;
  color: #fff;
  font-family: var(--font-stack);
  overflow-x: hidden;
}

section {
  padding: 9.6rem 0;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-bottom-smaller {
  margin-bottom: 1.2rem;
}

.margin-bottom-small {
  margin-bottom: 2.4rem;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem;
}

.margin-bottom-big {
  margin-bottom: 6.4rem;
}

.margin-bottom-bigger {
  margin-bottom: 8rem;
}

.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

/* HEADER */
header {
  padding: 3.6rem 0 6rem 0;
}

header nav {
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}

.btn {
  border: none;
  background-color: #fff;
  color: #333;
  font-size: 2.4rem;
  font-family: inherit;
  padding: 1.6rem 2.4rem;
  transition: all 0.3s;
}

.heading-primary {
  font-size: 3.6rem;
}

.heading-secondary {
  font-size: 2.4rem;
}

hr {
  border: 5px solid #fff;
  display: inline-block;
  margin: 4.8rem auto 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110rem;
  z-index: -1;
}

.square {
  background-color: #fff;
  color: #333;
  font-size: 5.6rem;
  margin: 0 auto;
  max-width: 11.2rem;
  padding: 3.2rem 0;
  z-index: 999;
}

.panel {
  column-gap: 6.4rem;
  font-size: 2rem;
  padding: 9.6rem 0;
}

.panel .flex {
  gap: 2.4rem;
}

input[type="number"] {
  color: #222;
  font-family: inherit;
  font-size: 2.4rem;
  padding: 2rem 0;
  text-align: center;
}

/* 1024px = 64em*/
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

/* 768px = 48em */
@media (max-width: 48em) {
  html {
    font-size: 37.5%;
  }
}

/* 650px = 41em */
@media (max-width: 41em) {
  html {
    font-size: 32.5%;
  }

  header {
    padding: 3.6rem 0 9.6rem 0;
  }
  .grid {
    row-gap: 6.4rem;
    text-align: center;
  }
  .grid.grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid .flex:first-child {
    grid-row: 2;
  }
  .grid .flex:nth-child(2) {
    grid-row: 1;
  }
}

/* 425px = 26.5em */
@media (max-width: 26.5em) {
  html {
    font-size: 25%;
  }

  hr {
    width: 96.5rem;
  }
}
